################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/config
/.vs/clu.console/v14
/.vs/clu.console/v15
/clu.console.demo.net350/bin
/clu.console.demo.net350/obj
/clu.console.demo.net461/bin
/clu.console.demo.net461/obj
/clu.console.library.net350/bin
/clu.console.library.net350/obj
