################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/clu.console
/.vs/clu.console/v15
/packages
/.vs/clu.console/v14/.suo
